<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Don't use any higher level config files to keep our builds isolated from user/machine state -->
    <fallbackPackageFolders>
        <clear />
    </fallbackPackageFolders>
    <packageSources>
        <!-- To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="GitHub" value="https://nuget.pkg.github.com/0xfeeddeadbeef/index.json" protocolVersion="3" />
    </packageSources>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSourceMapping>
        <packageSource key="NuGet">
            <package pattern="*" />
        </packageSource>
        <packageSource key="GitHub">
            <package pattern="Argonautica.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
